.card-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(39, 29, 53, 0.897), rgba(31, 3, 97, 0.726));
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    
    cursor: pointer;

    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.card-container:hover{
    transform: scale(1.05);
    border: 2px double rgb(95, 81, 133);
      transition: all 2s, ease;
}

.card_image{
    border-radius: 10px;
    border: rgb(46, 22, 13) 3px solid ;
    width: 230px;
    height:190px;
    background-color: transparent;
    opacity: 0.9;
   
}  

.card_image:hover{
    opacity: 1;
}